body {
    font-family: "Times";
    height: 100%;
    /* width: 100%; */
}

.nav-wrapper {
     background-color: #277b2e !important;
}

.boundary, rect {
      fill: #ddd;
      stroke: #888;
      stroke-linejoin: round;
    }

svg {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    /* below - aspect ratio */
    padding-bottom: 50%;  
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    /* top: 10px; */
    left: 0;
}

/* html map box: how much we're allowed to see*/

#map {
    margin-top: 35px;
    height: 300px;
    border:2px solid #000;
    overflow: hidden;
}

/* SVG map box - most of this is covered up */

#inner_map {
    height : 600px;
    width : 1450px;
}

.side-nav {
    background-color:#81c784 !important;
}

/* bar chart box */

#place1 {
    margin-top: 10px; 
    /* padding-top: 20px; */
    /* width: 275px; */
    height: 270px;
    border:2px solid #000;
}

#chartArea {
    margin-top: 10px; 
    height: 270px;
    border:2px solid #000;
}

.bartext{
    font-size: 20px;
    line-height: 120%;
    margin-top: 5px;
    padding-top: 5%;
}
/* --------------------------- */
/* all svg text elements */

#text {
    font-size: 12px;
    font-family: Helvetica;
    stroke-width: 2;
    text-anchor: middle;
}

.bar_text {
    font-size: 16px !important;
}

 /* text within modal */

.text3 {
    font-size: 16px;
    /* font-family: Helvetica; */
}

/* miscellaneous ----  */

.bar{
    stroke: none;
    fill: #277b2e;
}
